.container
  .row.pl-4.d-flex.align-items-center
    .col-md-6.ml-0.pl-0
      %h3.login-heading.my-4 🔥 Enhance Your Playlist.
    .col-md-6
      = link_to('Log Out', 'https://open.spotify.com/browse', class: "btn btn-sm bg-dark text-white float-right ml-2")
      = link_to('Open Spotify', 'https://open.spotify.com/browse', class: "btn btn-sm bg-success text-white float-right")

  .row
    .col-6.sticky
      %img.img-fluid{:alt => "Responsive image", :src => "#{@playlist.images.first.try(:fetch, "url")}"}/
      .card.p-3.mt-3
        %label.btn.btn-info
          %input{:autocomplete => "off", :type => "checkbox"} Increase Energy
        %label.btn.btn-info
          %input{:autocomplete => "off", :type => "checkbox"} Increase Energy
    .col-6
      .card.p-4.mb-4.bg-dark.text-white
        .row
          .col
            %h3.login-heading
              = @playlist.name
            %p.text-white
              = "#{@playlist.tracks.count} Songs"
          .col
            %p.text-white
              = "⚡ Energy: #{get_features(@playlist)[:energy]}"
            %p.text-white
              = "💃 Danceability: #{get_features(@playlist)[:danceability]}"
      .card.p-3.bg-light
        %table.table.table-sm.table-borderless
          %thead
            %tr
              %th{:scope => "col"} Track
              %th{:scope => "col"} Artist
          %tbody
            - @playlist.tracks.each do |i|
              %tr
                %th.font-weight-normal{:scope => "row"}
                  = i.name
                %th.font-weight-light{:scope => "row"}
                  = i.artists.first.name
