
.container
  .row
    %h3.login-heading.my-4 🎶 Your Playlists.

  .row
    - @playlists.each do |x|
      .col-md-4
        .card.mb-4
          .row.no-gutters
            .col-md-4
              %img.card-img{:alt => "...", :src => "#{x.images.first.try(:fetch, "url")}"}/
            .col-md-8
              .card-body
                %h5.card-title
                  = x.name
                  %small.text-muted
                    = "#{x.tracks.count} songs"
                  .row
                    %small.text-muted.mx-0
                      = "⚡ Energy: #{get_features(x)[:energy]}"
                  .row
                    %small.text-muted
                      = "💃 Dancebility: #{get_features(x)[:danceability]}"
